# Nao example config

# Basic
TOKEN: "YOUR_TOKEN"

# Get they in https://my.telegram.org/
APP_ID: 1234
APP_HASH: "YOUR_APP_HASH"

MONGO_URI: localhost
MONGO_DB: 'nao'
MONGO_PORT: 27017

API_PORT: 8080
HEROKU: False
REDIS_URI: "REDIS_URL"
REDIS_PORT: 6379
REDIS_PASS: ""
REDIS_DB_FSM: 1

OWNER_ID: 885190545
OPERATORS: [768318846, 781051038, 762685990, 1685351855, 1202112402, 483808054, 1030989359]

# Advanced
SENTRY_API_KEY: ""

DEBUG_MODE: False
LOAD_MODULES: True

ALLOW_FORWARDS_COMMANDS: False
ALLOW_COMMANDS_WITH_!: False
